body {
    padding: 40px;
    background-color: #0B2447;
}

.pc-headingscolor {
    color: #576CBC;
}

.pc-biocolor {
    color: #576CBC;
    padding-bottom: 1%;
}

.pc-boxcolor {
    background-color: #19376D;
}

.pc-linkcolor {
    color: #A5D7E8;
}

a:hover {
    color: inherit;
    text-decoration: none;
    color: #A5D7E8;
}