body {
    padding: 40px;
    background-color: #baddac;
    font-family: "Varela Round", sans-serif;
}

.pc-heading {
    color: #3fa251;
    font-size: 3em;
}

.pc-heading:hover {
    color: #3fa251;
}

.pc-boxcolor {
    background-color: #3fa251;
    margin-top: 2%;
}

.pc-link {
    color: white;
}

a:hover {
    color: inherit;
    text-decoration: none;
    color: white;
}

hr {
    border: 1px solid #3fa251;
    width: 50%;
}

.mbot {
    margin-bottom: 5%;
}

.pc-text {
    color: #3fa251;
    font-size: 2em;
    padding-top: 7.5%;
}

.pc-textb {
    color: #3fa251;
    font-size: 2.5em;
    padding-top: 2%;
}

.long{
    width: 60%;
}

@media screen and (max-width: 900px) {
    .pc-text{
        font-size: 1.25em;
    }

    .pc-textb{
        font-size: 1.5em;
    }

    .pc-heading{
        font-size: 2em;
    }

    hr {
        width: 80%;
    }

    .long {
        width: 90%;
        margin-bottom: 10%;
    }

    .pc-link {
        font-size: 0.9em;
    }
}