.pc-bgcolor, body {
    background-color:#71C9CE;
}

.pc-headingscolor {
    color:#CBF1F5;
}

.pc-biocolor {
    color:#CBF1F5;
}

.pc-boxcolor {
    background-color:#A6E3E9;
}

.pc-linkcolor {
    color: #CBF1F5;
}

body {
    padding-top: 40px !important;
    padding-bottom: 20px;
}

a:hover {
    color: inherit;
}